<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <style>
            .error{
                color: red
            }
        </style>
    </head>
    <body>
        <div>
            <a href='/blogs'>Main Blog Page</a>
            <a href='/newpost'>Add a Blog Entry</a>
            <a href='/'>Users</a>
            <br>
            <a href='/login'>Log In</a>
            <a href='/signup'>Create Account</a>
            <a href='/logout'>Log Out</a>
        </div>
        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
                {% for category,message in messages %}
                    <li class="{{category}}">{{message}}</li>
                {% endfor %}
            </ul>
        {% endwith %}

        {% block content %}
        {% endblock %}
    </body>
</html>